<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>609883305391-f6mo2hj63gci72tqk89rtfdnhnilqvnm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.609883305391-f6mo2hj63gci72tqk89rtfdnhnilqvnm</string>
	<key>API_KEY</key>
	<string>AIzaSyDgVvRMoiKqFT13CQ-loYf3UqzUh6QDkXI</string>
	<key>GCM_SENDER_ID</key>
	<string>609883305391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mas.PomodoroTimer</string>
	<key>PROJECT_ID</key>
	<string>pomodorotimer-2a861</string>
	<key>STORAGE_BUCKET</key>
	<string>pomodorotimer-2a861.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:609883305391:ios:2a4d45a6ba9e2c173fab5a</string>
</dict>
</plist>